<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<body>
    <!-- <div>CAMPUS GARANHUNS <img src="assets/images/upe.jpeg" alt="Universidade de Pernambuco"></div> -->
    <form>
        <h1>CPF:</h1><p th:text="${cpf}"></p>
        <h1>Nome do requerente:</h1><p th:text="${nome}"></p>
        <h1>curso:</h1><p th:text="${curso}"></p>
        <h1>periodo:</h1><p th:text="${periodo}"></p>
        <h1>rua:</h1><p th:text="${rua}"></p>
        <h1>Bairro:</h1><p th:text="${bairro}"></p>
        <h1>n°:</h1><p th:text="${numero}"></p>
        <h1>Cidade:</h1><p th:text="${cidade}"></p>
        <h1>E-mail:</h1><p th:text="${email}"></p>
        <h1>CEP:</h1><p th:text="${cep}"></p>
        <h1>Telefone:</h1><p th:text="${telefone}"></p>
        <h1>UF:</h1><p th:text="${uf}"></p>
        <h1>Data:</h1><p th:text="${data}"></p>
        <h1>Protocolo:</h1><p th:text="${protocolo}"></p>
    </form>
</body>
</html>